<!-- Tạo một view ListResons.cshtml trong thư mục Equipment của Views -->
@model List<EquipmentVoucher>
@{
    Layout = "~/Views/Shared/LayoutInventory.cshtml";
}
<h4>Danh sách đơn của bạn</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ngày Gửi</th>
            <th>Lý Do</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reson in Model)
        {
            <tr>
                <td>@reson.Id</td>
                <td>@reson.CreationDate</td>
                <td>@reson.Reason</td>
            </tr>
        }
    </tbody>
</table>
