@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.search
{
    position: relative;
    width: 400px;
    margin-top: 10px;
}

.search label
{
    position: relative;
    width: 100%;
}

.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label i
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.detail
{
    position: relative;
    width: 130%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.detail .user-account
{
    position: relative;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2  
{
    font-weight: 600;
    color: var(--blue);
}

.btn
{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.detail table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.detail table thead td
{
    font-weight: 600;
}

.detail table tbody tr td button
{
    background: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
}

.detail .user-account table tr
{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);    
}

.detail .user-account table tbody img
{
    width: 80px;
}

.detail .user-account table tbody tr:last-child
{
    border-bottom: none;
}

button.delete
{
    width: 140px;
    height: 40px;
    border-radius: .25rem;
    color: #ffffff;
    font-weight: bold;
}

.detail .user-account table tbody tr:hover,
.detail .user-account table tbody tr:hover a,
.detail .user-account table tbody tr:hover button
{
    background: #6363fd;
    color: var(--white)
}

.detail .user-account table tr td
{
    padding: 10px;
}

a, .text-link {
    text-decoration: none;
    background: transparent;
}

.detail .user-account .employee_add
{
    display: block;
}

.detail .user-account .user-add form
{
    display: flex;
    flex-direction: column;
    width: 800px;
}

.detail .user-account .user-add form label
{
    margin: 20px 0 5px;
}

.detail .user-account .user-add form button
{
    margin-top: 30px;
    width: 150px;
    padding: 10px 10px;
    background: #287bff;
    text-decoration: none;
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.detail .user-account .user-add form .inputText
{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    border: none;
    outline: none;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}

.detail .user-account .user-add form select 
{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    border: none;
    outline: none;
    text-align: center;
    color: var(--black2);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}

.detail .user-account .user-add form textarea
{
    height: 300px;
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}

.detail .user-account .user-add form .inputImg
{
    font-size: 16px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}

.pagigation
{
    margin-top: 20px;
    text-align: center;
}

.pagigation a
{
    text-decoration: none;
    background-color: var(--blue);
    padding: 15px 20px;
    background-repeat: 4px;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
}

.pagigation a ion-icon
{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: -10px;
}

@media (max-width: 991px)
{
    .navigation
    {
        left: -300px;
    }
    .navigation.active
    {
        width: 300px;
        left: 0;
    }
    .main
    {
        width: 100%;
        left: 0;
    }
    .search
    {
        margin-left: 60px;
    }
    .main.active
    {
        left: 300px;
    }
    .cardBox
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px)
{
    .detail
    {
        grid-template-columns: repeat(1,1fr);
    }
    .user-account
    {
        overflow-x: auto;
    }
    .status.inProgress
    {
        white-space: nowrap;
    }
}

@media (max-width: 480px)
{
    .cardBox
    {
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2
    {
        font-size: 20px;
    }
    .navigation
    {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
}