@{
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-9846671ed7c9dd69b10c93f6b04b31fe.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <title>Trang chủ</title>
</head>
<body>
    <div class="container">
        <!-- main -->
        <div class="main">
            <div class="main-detail">
                <div class="notification">
                    <div class="cardHeader">
                        <h2 style="font-size: 35px;">THÔNG BÁO</h2>
                    </div>
                    <hr class="new">
                    <div class="notification-content">
                        <h3 class="text-danger" style="color:red; margin-top: 20px; font-size: 30px">Giới Thiệu Website Quản Lý Thiết Bị Trường Học</h3>
                        <div class="content" style="margin-top: 15px;">
                            <p>- Chào mừng quý thầy cô và nhân viên,</p>
                            <p>- Chúng tôi hân hạnh giới thiệu website quản lý thiết bị mới, nơi bạn có thể dễ dàng theo dõi và quản lý tất cả các thiết bị trong trường.</p>
                            <p>
                                - Trân trọng,
                                Ban Quản lý Thiết Bị.
                            </p>
                        </div>
                    </div>
                    <div class="notification-content">
                        <h3 class="text-danger" style="color:red; margin-top: 20px; font-size: 30px">Khám Phá Website Quản Lý Thiết Bị - Tiện Lợi và Nhanh Chóng</h3>
                        <div class="content" style="margin-top: 15px;">
                            <p>- Xin chào toàn thể cán bộ giáo viên và nhân viên,</p>
                            <p>- Để tối ưu hóa quá trình quản lý thiết bị, chúng tôi giới thiệu đến bạn website mới với giao diện thân thiện, đơn giản và hiệu quả.</p>
                            <p>
                                - Trân trọng,
                                Ban Quản lý Thiết Bị.
                            </p>
                        </div>
                    </div>
                    <div class="notification-content">
                        <h3 class="text-danger" style="color:red; margin-top: 20px; font-size: 30px">Website Quản Lý Thiết Bị - Nâng Cao Hiệu Quả Quản Lý</h3>
                        <div class="content" style="margin-top: 15px;">
                            <p>- Chào mừng quý đồng nghiệp,</p>
                            <p>- Chúng tôi xin giới thiệu website quản lý thiết bị mới, được thiết kế để giúp bạn dễ dàng theo dõi, bảo dưỡng và nâng cấp thiết bị một cách thuận tiện.</p>
                            <p>
                                - Trân trọng,
                                Ban Quản lý Thiết Bị.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>