@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <span class="user-name">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="" title="Manage">Xin chào @User.Identity?.Name!</a>
    </span>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
            <button type="submit" class="mdi mdi-power"></button>
        </form>

        <script>
            document.getElementById('logoutForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Ngăn chặn chuyển hướng mặc định
                // Sau khi logout thành công, chuyển hướng đến trang chủ
                window.location.href = "/";
            });
        </script>

}
else
{
    @* <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li> *@
    <li class="nav-item">
            <a class="w-100 btn btn-lg btn-primary" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
    </li>
}
</ul>
