<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/report-admin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-9846671ed7c9dd69b10c93f6b04b31fe.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <title>TRANG CHỦ ADMIN</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a style="margin-top: 10px; margin-bottom: -25px;" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="icon"><img src="~/lib/layoutadmin/assets/images/logo1.svg" style="width: 65%; margin-top: 10px;" alt="" srcset=""></span>
                        <span class="title" style="font-size: 35px; font-weight: bold; margin-right: 80px;">HUTECH</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="icon"><i class="fa-regular fa-house"></i></span>
                        <span class="title">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="TaiKhoan">
                        <span class="icon"><i class="fa-regular fa-clipboard"></i></span>
                        <span class="title">Danh sách tài khoản</span>
                    </a>
                </li>
                <li>
                    <a id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                        <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                        <span class="title">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- main -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="user">
                    <span class="user-name" asp-area="Identity" asp-page="" title="Manage">Xin chào @User.Identity?.Name!</span>
                </div>

            </div>

            <div class="detail">
                <div class="report">
                    @RenderBody()
                </div>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/lib/layoutadmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/lib/layoutadmin/assets/js/off-canvas.js"></script>
    <script src="~/lib/layoutadmin/assets/js/hoverable-collapse.js"></script>
    <script src="~/lib/layoutadmin/assets/js/misc.js"></script>
    <script src="~/lib/layoutadmin/assets/js/app.js"></script>
    <script src="https://kit.fontawesome.com/e4c15aef63.js" crossorigin="anonymous"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
