
<body class="container">
    <div class="row">
        <div class="col-md-6" style="padding-top: 50px;">
            <div class="panel panel-default">
                <div class="panel-heading">Khung chụp hình</div>
                <div class="panel-body">
                    <div id="LiveCamera" style="margin-bottom: 50px;"></div>
                    <form>
                        <!-- Chức năng chụp ảnh -->
                        <input type="button" class="btn btn-primary" value="Chụp ảnh" onClick="CaptureSnapshot()">
                        <!-- Nút để lưu ảnh đã chụp -->
                        <input type="button" class="btn btn-success" value="Lưu ảnh" onClick="SaveSnapshot()">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 50px;">
            <div class="panel panel-default">
                <div class="panel-heading">Ảnh đã được chụp</div>
                <div class="panel-body">
                    <div id="results">Ảnh bạn mới chụp sẽ xuất hiện ở đây...</div>
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>


    <!-- Include the Webcam.js JavaScript Library -->
    <script src="/js/webcam.js"></script>
    <!-- Configure web cam settings -->
    <script language="JavaScript">
        Webcam.set({
            width: 500,
            height: 375,
            image_format: 'png',
            jpeg_quality: 100
        });
        Webcam.attach('#LiveCamera');
    </script>

    <!-- Javascript code to capture the snapshot and displaying it in the screen -->
    <script language="JavaScript">
        function CaptureSnapshot() {
            Webcam.snap(function (data) {
                // Hiển thị kết quả trên trang
                document.getElementById('results').innerHTML = '<img src="' + data + '"/>';
                // Lưu ảnh đã chụp vào biến global để sử dụng sau này khi nhấn "Save Snapshot"
                window.snapshotData = data;
            });
        }

        function SaveSnapshot() {
            var imageData = window.snapshotData;
            if (imageData) {
                Webcam.upload(imageData, '/Camera/Capture', function (code, text) {
                    alert('Thực hiện thành công');
                    const url = '/Notification/Report'; // Chỉnh sửa URL tới địa chỉ chính xác của bạn
                    window.location.href = url;
                });
            } else {
                alert('Không có hình ảnh nào để lưu.');
            }
        }
    </script>
</body>
